<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <form action="signup" , method="POST">
        {% csrf_token %}
        <label for="username">Enter Username:</label>
        <input type="text" name="username" id="username" placeholder="Username">
        <label id="username_validation"></label>
        <br><br>
        <label for="password">Enter Password:</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <br><br>
        <label for="confirm_password">Re-enter password:</label>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
        <label id="validation_msg"></label>
        <br><br>
        <label for="email">Enter email:</label>
        <input type="text" name="email" id="email" placeholder="someone@example.com">
        <br><br>
        <label for="firstname">Enter Firstname:</label>
        <input type="text" name="firstname" id="firstname" placeholder="Firstname">
        <label for="lastname">Enter Lastname:</label>
        <input type="text" name="lastname" id="lastname" placeholder="lastname">
        <br><br>
        <label for="phone">Enter Phone Number</label>
        <input type="text" name="phone" id="phone" placeholder="phone">
        <label id="phone_validation"></label>
        <br><br>
        <label for="isOwner">Are you the owner of the flat?</label>
        <input type="checkbox" name="isOwner" id="isOwner" onclick="checkIsOwner()">
        <br><br>
        <label for="multipleFlats">Do you own multiple flats?</label>
        <input type="checkbox" name="multipleFlats" onclick="changeState()" id="multipleFlats">
        <br><br>
        <div id="divFlat1">
            <label id="flat_1" for="flatNo1">Enter your Flat No:</label>
            <input type="text" name="flatNo1" id="flatNo1" placeholder="Flat No">
        </div>
        <br><br>
        <div id="divFlat2" style="visibility: hidden;">
            <label for="flatNo2">Enter your second Flat No:</label>
            <input type="text" name="flatNo2" id="flatNo2" placeholder="Second Flat No">
        </div>
        <br><br>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
<!-- <script src="{% static 'fee/js/jquery.js' %}"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'fee/js/signup.js' %}"></script>

</html>